{#
/**
 * @file fox.html.twig
 * Default theme implementation to present Fox data.
 *
 * This template is used when viewing Fox pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_fox()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('fox') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
